* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.dark {
	background-color: rgb(68, 63, 109);
	color: white;
}

.light {
	background-color: white;
	color: rgb(68, 63, 109);
}

button {
	margin: 1rem 2rem;
	background-color: rgb(68, 63, 109);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	color: white;
}

.dark button {
	background-color: white;
	color: rgb(68, 63, 109);
}

h1 {
	margin: 1rem 2rem;
}
